<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright © 2020-2021, Simplexion, Hungary and contributors. Use of this source code is governed by the Apache 2.0 license.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="zakadabar.demo.basic.android">
    <application
            android:allowBackup="false"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>